{{define "title"}}
  Golang REST API | {{index . "title"}}
{{end}}

{{define "bodyheader"}}
  {{index . "bodyheader"}}
{{end}}

{{define "body"}}

<label for="tables">Choose a table:</label>
<div>
  <form action="" method="POST">
    <select name="table" style="margin-bottom:10px;">
    {{range $tables := .table}}
      <option value="{{$tables}}">{{$tables}}</option>
    {{end}}
    </select>
    <textarea name="csv" rows="10" placeholder=" Enter CSV here" class="form-control" value="{{.csv}}"></textarea>
    <button type="submit" class="btn btn-primary" style="float: right; margin-top: 10px;">Submit</button>
    <div style="clear: both;"></div>
  </form>
</div>

{{end}}
